<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seckill.dao.SuccessKilledDao">

    <insert id="insertSuccesskilled">
      <!-- 主键冲突的情况下，数据会报错 -->
        insert ignore INTO success_killed (seckill_Id,user_phone)
        VALUES (#{seckillId},#{userPhone})
    </insert>

    <!-- 根据id查询SuccessKilled并携带秒杀产品对象实体 -->
    <!--如何告诉mybatis将结果映射到SuccessKilled同时映射到seckill属性-->
    <select id="queryByIdWithSeckill" resultType="SuccessKiller">
      SELECT
        sk.seckillId,
        sk.user_phone,
        sk.create_time,
        sk.state,
        s.seckill_id "seckill.seckill_id",
        s.name "seckill_name",
        s.number "seckill.number",
        s.start_time "seckill.start_time",
        s.end_time "seckill.end_time",
        s.create_time "seckill.create_time"
      FROM sucess_killed sk
      INNER JOIN seckill s
      ON sk.seckill_id = s.seckill_id
      WHERE sk.seckill_id = #{seckillId}
    </select>

</mapper>
